.btn-warning {
    color: #212529;
    background-color: #3072e0;
    border-color: #2e4b7c;
  }
  
  .btn-warning:hover {
    color: #212529;
    background-color: #2e4b7c;
    border-color: #2e4b7c;
  }
  #services {
    text-align: center;
  }

  #text-right {
    text-align: right;
  }
